:root{
	--yellow: #f5ba69;
	--yellowish: #cf9f4f;
	--brown: #bf8f53;
	--blue:#4a8cef;
	--green:#8df49d;
}

.grid-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    margin: 0rem 12rem 1rem 12rem;
}

@media only screen and (max-width: 700px) {
	.grid-container:nth-of-type(2n + 1){
        grid-template-columns: 50%;
    }
    .grid-container:nth-of-type(2n){
        grid-template-columns: 50%;
    }
}

.galerie{
    margin-top: 10%;
    height: auto;
}

.grid-item:nth-of-type(4n + 1),
.grid-item:nth-of-type(4n + 2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18vw;
    width: 30vw;
    border: 4px #bf8f53 solid;
    background-image: linear-gradient(#ffd87f, #e7a160);
    border-radius: 10px;
    min-width: 20vw;
}

.grid-item:nth-of-type(4n + 3),
.grid-item:nth-of-type(4n + 4){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 30vw;
    border: 4px white solid;
    background-color: pink;
    border-radius: 10px;
    min-width: 20vw;
}

.grid-item:nth-of-type(4n + 2) span{
    margin-top: 1vw;
    margin-left: 5%;
    width: 90%;
    font-family: 'StardewFont', sans-serif;
    font-size: 1.5vw;
    overflow: hidden;
}

.grid-item:nth-of-type(4n + 1) span,
.grid-item:nth-of-type(4n + 3) span,
.grid-item:nth-of-type(4n + 4) span{
    margin-top: 1vw;
    font-family: 'StardewFont', sans-serif;
    font-size: 2vw;
    overflow: hidden;
}
.grid-item:nth-of-type(2n + 1) img{
    width: 10vw;
    height: 10vw;
    border: 4px var(--brown) solid;
    border-radius: 50%;
    background-color: yellow;
}


.grid-item span img{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 1vw;
}

.grid-item span::selection{
    background-color: transparent;
}

.grid-item:hover{
    cursor: url('../assets/images/selector3.png') 4 4, auto;
}

.marriageTrue::before{
    content: '';
    display: inline-block;
    width: 1.6vw;
    height: 1.6vw;
    background-image: url('../assets/images/bouquet.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.marriageFalse::before{
    content: '';
    display: inline-block;
    width: 1.6vw;
    height: 1.6vw;
    background-image: url('../assets/images/icecream.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.marriageTrue::after{
    content: "Yes";
}

.marriageFalse::after{
    content: "No";
}

#birthday::before{
    content:"Birthday: ";
}
#town::before{
    content:"Lives in: ";
}
#address::before{
    content: "Adress: ";
}
#gift::before{
    content: "Most loved gift: ";
}