.grid-container{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    margin: 0rem 12rem 1rem 12rem;
}

@media only screen and (max-width: 700px) {
	.grid-container:nth-of-type(2n + 1){
        grid-template-columns: 50%;
    }
    .grid-container:nth-of-type(2n){
        grid-template-columns: 50%;
    }
}

.galerie{
    margin-top: 10%;
    height: auto;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18vw;
    width: 30vw;
    border: 4px #bf8f53 solid;
    background-image: linear-gradient(#ffd87f, #e7a160);
    border-radius: 10px;
    min-width: 20vw;
}

.grid-item img{
    width: 15vw;
    height: 15vw;
}

.grid-item span{
    margin-top: 1vw;
    margin-left: 5%;
    width: 90%;
    font-family: 'StardewFont', sans-serif;
    font-size: 1.5vw;
    overflow: hidden;
}

.grid-item span img{
    width: 2vw;
    height: 2vw;
}

.marriageTrue::before,
.marriageFalse::before{
    content: "Marriage: ";
}

.marriageTrue::after{
    content: "Yes";
}

.marriageFalse::after{
    content: "No";
}

#birthday::before{
    content:"Birthday: ";
}
#town::before{
    content:"Lives in:";
}
#adress::before{
    content: "Adress: ";
}
#gift::before{
    content: "Most loved gift: ";
}