:root{
	--yellow: #f5ba69;
	--yellowish: #cf9f4f;
	--brown: #bf8f53;
	--blue:#4a8cef;
	--green:#8df49d;
}

#loginform{
    top: 17vh;
    position: relative;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 2vh;
}
#loginform span{
    background-image: linear-gradient(var(--yellow), var(--yellowish));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 15vw;
    font-family: 'StardewFont', sans-serif;
    font-size: 1.5vw;
    border-radius: 25%;
}

#loginform span:nth-of-type(4){
    font-size: 1vw;
    border-radius: 25% 25% 0 0;
}

#loginform span:nth-of-type(5){
    background-color: rgb(0, 190, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 15vw;
    font-family: 'StardewFont', sans-serif;
    font-size: 1.5vw;
    border-radius: 25%;
}

#loginform label{
    margin-top: 0.5vw;
}
#loginform input{
    border: 0.2vw var(--brown) ridge;
    background-color: var(--yellow);
    font-family: 'StardewFont', sans-serif;
    font-size: 1.5vw;
    width: 20vw;
}

.validate,
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 3vw;
    font-family: 'StardewFont', sans-serif;
    font-size: 1.5vw;
    border-radius: 10px;
    border: 0.4vh rgb(0, 255, 4) ridge;
    background-color: rgb(0, 190, 29);
    color: white;
}

.register{
    background-color: red;
    border: 0.4vh rgb(211, 0, 0) ridge;
}
.validate:hover{
    cursor: url('../assets/images/selector2.png') 4 4, auto;
    background-color: rgb(164, 1, 1);
}

.validate:hover{
    cursor: url('../assets/images/selector2.png') 4 4, auto;
    background-color: rgb(1, 164, 26);
}

.validate::selection,
#loginform label::selection{
    background-color: transparent;
}

#loginform input::selection{
    color: magenta;
    background-color: black;
}